<footer class='footer bg-dark py-3 mt-auto text-center'>
  <div class='container'>
    <a href='https://github.com/kaquino1' class='text-muted text-decoration-none fs-5'>
      <i class="fa-brands fa-github"></i> GitHub
    </a>
  </div>
</footer>