<nav class='navbar sticky-top navbar-expand-lg navbar-dark bg-dark'>
  <div class='nav-container container-fluid'>
    <a class='navbar-brand' href='/'><i class="fa-solid fa-signs-post"></i> CampSite </a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup'
      aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
      <div class='navbar-nav'>
        <a class='nav-link' href='/'>Home</a>
        <a class='nav-link' href='/campgrounds/pages/1'>All Campgrounds</a>
        <a class='nav-link' href='/campgrounds/new'>New Campground</a>
      </div>
      <div class='navbar-nav ms-auto'>
        <% if(!currentUser) { %>
          <a class='nav-link' href='/login'>Login</a>
          <a class='nav-link' href='/signup'>Sign Up</a>
          <% } else { %>
          <div class='dropdown'>
            <a class='nav-link dropdown-toggle' href='#' id='navDropdown' role='button' data-bs-toggle='dropdown'
              aria-expanded='false'>
              My Submissions
            </a>
            <ul class='dropdown-menu dropdown-menu-dark' aria-labelledby='navDropdown'>
              <li><a class='dropdown-item' href='/users/<%= currentUser._id %>/campgrounds'>My Campgrounds</a></li>
              <li><a class='dropdown-item' href='/users/<%= currentUser._id %>/reviews'>My Reviewed Campgrounds</a></li>
            </ul>
          </div>
            <a class='nav-link' href='/logout'>Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>